Hola {{username}}!🍃

Gracias por formar parte de nuestra misión, proteger el medio ambiente. Estamos emocionados de que te hayas embarcado en este misión y no podemos esperar para poder ver la huella positiva que podemos dejar en el mundo juntos.
Algunos podrían decir que dejar una huella es usar menos plastico y conducir menos. Sin embargo, nos gusta pensar fuera de la caja - o tal vez podríamos decir fuera de la bolsa porque hay que reducir el desperdicio de plástico?-.
Con tu ayuda podemos realizar hacer una diferencia en la desinformación e incentivar al conocimiento y buenas acciones.
Entonces, gracias por unirte a nosotros. Vamos a dejar una huella en el mundo - esta vez prioricemos que sea positiva -. Acompáñanos a hacer la diferencia.

Esperando que no sea demasiado tarde y podamos hacer un cambio,
MiHuellita.🌱