{% extends '../layouts/base.html' %}

{% block content %}
    <style>
        .main {
            width: 80%;
            margin: auto;
            font-family: 'Roboto', sans-serif;
            font-size: 1.2rem;
        }
        
        article {
            padding: 1.5em;
            margin-top: 0.8em;
        }
        
        article h2 { 
            font-weight: 800;
            font-size: 1.5em;
        }
        
        .author-name{
            font-size: 0.85em;
        }
        
        article p {
            margin-top: 1.2rem;
            text-align: justify;  
            line-height: 1.5;
        }
        
        .article-image {
            width: 100%;
        }        
    </style>
    <main class="main">
        <article>
            <h2>Educación ambiental: El camino hacia un futuro sostenible</h2>
            <p class="author-name">Elaborado por: <b>José Chablé Gomez</b>, el 29 de abril de 2023</p>
            <img src="https://images.pexels.com/photos/5212345/pexels-photo-5212345.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="article-image" alt="Un salón de clases">
            <p>
                La educación ambiental es fundamental para lograr la sostenibilidad, ya que nos ayuda a comprender cómo
                nuestras
                acciones cotidianas afectan al medio ambiente y cómo podemos hacer cambios para reducir nuestro impacto
                en el
                planeta.
            </p>
            <p>
                En su esencia, la educación ambiental se enfoca en la comprensión y la conciencia de los problemas
                ambientales,
                las causas y las posibles soluciones. Su objetivo principal es fomentar el pensamiento crítico y la toma
                de
                decisiones informadas en cuanto al medio ambiente.
            </p>
            <p>
                La educación ambiental se puede llevar a cabo en diferentes niveles, desde la educación formal en las
                escuelas
                hasta programas de concienciación en comunidades locales y organizaciones.
            </p>
            <p>
                En las escuelas, la educación ambiental puede ser integrada en el plan de estudios en diferentes
                materias como
                ciencias, matemáticas, historia, geografía y literatura, entre otras. Los estudiantes pueden aprender
                sobre la
                relación entre los seres humanos y el medio ambiente, los recursos naturales, el cambio climático y la
                biodiversidad, entre otros temas.
            </p>
            <p>
                En la comunidad, se pueden llevar a cabo programas de educación ambiental que involucren a diferentes
                actores
                como autoridades locales, organizaciones no gubernamentales, empresas y la sociedad civil. Estos
                programas
                pueden incluir talleres, charlas, eventos y actividades prácticas que promuevan prácticas sostenibles y
                el
                cuidado del medio ambiente.
            </p>
            <p>
                La educación ambiental también puede ser una herramienta útil para lograr la participación ciudadana en
                la toma
                de decisiones relacionadas con el medio ambiente, fomentando la responsabilidad y la acción colectiva.
            </p>
            <p>
                Es importante destacar que la educación ambiental no solo se trata de proporcionar información, sino
                también de
                promover cambios de comportamiento en las personas y las organizaciones. Esto significa que se deben
                proporcionar oportunidades para que los participantes puedan aplicar lo que han aprendido y tomar
                medidas
                concretas para reducir su impacto ambiental.
            </p>
        </article>
    </main>
{% endblock %}